# Sanity — récupère ces valeurs sur https://sanity.io/manage
NEXT_PUBLIC_SANITY_PROJECT_ID=63mayh93
NEXT_PUBLIC_SANITY_DATASET=production

# Optionnel — uniquement si tu as besoin d'écrire via l'API (pas nécessaire pour commencer)
# SANITY_API_TOKEN=ton_token_ici
